In [2]:
# Common Setup
%run setup.ipynb

In [3]:
# Instantiate Cortex Client and Builder
cortex = Cortex.client()
builder = cortex.builder()

In [4]:
# Load source data
df = pd.read_csv('../../data/financial/sp500_daily_5y_07242018.csv', header=0)
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-07-25,1685.209961,1690.939941,1680.069946,1690.250000,1690.250000,3322500000
1,2013-07-26,1687.310059,1691.849976,1676.030029,1691.650024,1691.650024,2762770000
2,2013-07-29,1690.319946,1690.920044,1681.859985,1685.329956,1685.329956,2840520000
3,2013-07-30,1687.920044,1693.189941,1682.420044,1685.959961,1685.959961,3320530000
4,2013-07-31,1687.760010,1698.430054,1684.939941,1685.729980,1685.729980,3847390000

In [7]:
# Use the Pandas DataFrame to declare a Cortex Dataset
ds = builder.dataset('demo/SP500-daily-5y').title('S&P 500 5y Daily').from_df(df, '/demo/data/financial/SP500-daily-5y.json', format='json').build()
print(ds.name)
print(ds.version)

demo/SP500-daily-5y
9

In [10]:
# Reload the DataFrame from the server to test
ds = cortex.dataset('demo/SP500-daily-5y')
df = ds.as_pandas()
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-07-25,1685.209961,1690.939941,1680.069946,1690.250000,1690.250000,3322500000
1,2013-07-26,1687.310059,1691.849976,1676.030029,1691.650024,1691.650024,2762770000
2,2013-07-29,1690.319946,1690.920044,1681.859985,1685.329956,1685.329956,2840520000
3,2013-07-30,1687.920044,1693.189941,1682.420044,1685.959961,1685.959961,3320530000
4,2013-07-31,1687.760010,1698.430054,1684.939941,1685.729980,1685.729980,3847390000