# Telco Customer Churn

In [24]:
# set task name
task_name = 'telco_churn-v2'

# load common
%run common.ipynb

Cortex Python SDK v6.2.0
Cortex Discovery Libraries v3.5.14

## Controller

In [25]:
from ds_discovery import Controller

In [26]:
controller = Controller.from_env(has_contract=False)

In [27]:
# register the components
controller.intent_model.transition(canonical=0, task_name=task_name, intent_level='telco_churn_tr')
controller.intent_model.synthetic_builder(canonical=0, task_name=task_name, intent_level='telco_churn_sb')
controller.intent_model.wrangle(canonical=0, task_name=task_name, intent_level='telco_churn_wr')

In [28]:
controller.report_tasks()

In [29]:
# run the controller and load the run report
controller.run_controller(run_cycle_report='cycle_report.csv')
controller.load_canonical(connector_name='run_cycle_report')

                         time                             text
0  2022-12-28 13:38:51.397225                start run-cycle 0
1  2022-12-28 13:38:51.397642               start task cycle 0
2  2022-12-28 13:38:51.398288           running telco_churn_tr
3  2022-12-28 13:38:53.972949    canonical shape is (7043, 52)
4  2022-12-28 13:38:53.976836           running telco_churn_sb
5  2022-12-28 13:39:11.884329    canonical shape is (1000, 52)
6  2022-12-28 13:39:11.885377           running telco_churn_wr
7  2022-12-28 13:39:12.068636  canonical shape is (1000, 1428)
8  2022-12-28 13:39:12.069722                   tasks complete
9  2022-12-28 13:39:12.070228                    end of report